.favorites{
  background:var(--black);
  color:var(--white);
  padding:1rem 0;
}
.favorites-content{
  width:var(--view-width);
  max-width:var(--max-width);
  margin:0 auto;
}
.favorites-container{
  display:flex;
  gap:0.5rem;
  flex-wrap:wrap;
}